<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kietecom</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>

<body>
    <footer class="footer">

        <div class="footer content">
            <h3>Projects</h3>
            <li><a href="#"></a><i class='bx bxs-institution'></i>211 B Santa Monica, Los Angeles</li>
            <li><a href="#"></a><i class='bx bxs-phone'></i>
                (+1)923 234 122</li>
            <li> <i class='bx bx-envelope'></i></i>Contact@tanahairstudiio.com</li>
        </div>

        <div class="footer content">
            <h3>Categories</h3>
            <li><a href="#">Dairy & Milk</a></li>
            <li><a href="#">Fresh Produce</a></li>
            <li><a href="#">Meat</a></li>
            <li><a href="#">Snacks</a></li>
            <li><a href="#">Froze</a></li>
            <li><a href="#">Vegetables</a></li>
        </div>

        <div class="footer content">
            <h3>Company</h3>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy & Poilicy</a></li>
            <li><a href="#">Payment Method</a></li>
        </div>

        <div class="footer content">
            <h3>Join Our Newsletter</h3>
            <label>Your Email</label><br>
            <input type="text" placeholder="Enter Your Name"><br>
            <button>Supscribe</button>
        </div>
    </footer>
</body>

</html>