#root {
    padding: 0px;
    text-align: left;
    display: inline;
}

body {
    margin: 0px auto;
    display: inline-block;
    position: absolute;
}

div.footer {
    width: 1232px;
    height: 320px;
    bottom: 600px;
    position: relative;
    left: 104px;
}

.Logo2 {
    width: 134.4px;
    height: 56px;
}

div.Groud477 {
    width: 282px;
    height: 104px;
}

p.ph1 {
    color: black;
    font-size: 16px;
    position: relative;
    left: 50px;
    top: 5px;
}

img.a1a {
    position: relative;
    right: 120px;
    top: 50px;
}